.modal {
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity, visibility;
  transition-timing-function: linear;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: black;
  font-size: 80px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.modal__title {
  padding: 10px 0;
  font-size: 40px;
  text-align: center;
}

.modal__banner {
  margin: 30px auto 0;
  width: 90%;
  height: 70%;
  @include bg-image();
  background-color: #536;
  background-blend-mode: lighten;
  transition: 1s background-image linear;
}

.modal__gallery {
  margin: 30px auto 0;
  width: 90%;
}

.modal__gallery-item {
  @include bg-image();
  display: inline-block;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
