@import 'lib/reset';
@import 'lib/fontawesome/font-awesome';
@import 'mixin';
@import 'keyframe';

@import 'modal';

@import 'homepage';
@import 'about';

* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Open sans', Arial, sans-serif;
  font-weight: lighter;
}

a {
  position: relative;
  color: #89c3eb;
  text-decoration: none;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    border-bottom: 1px solid;
    transition: 0.4s;
  }
  &:hover:after {
    left: 0%;
    width: 100%;
  }
}

.nav {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 0 50px 0 140px;
  display: block;
}


.nav__logo {
  background-image: url(/asset/images/logo.png);
  @include bg-image();
  text-indent: -9999px;
  position: fixed;
  top: 20px;
  left: 40px;
  width: 70px;
  height: 70px;
  animation: cd-play 6s infinite linear;
  animation-play-state: paused;
  &:hover {
    animation-play-state: running;
  }
}

.nav__item {
  display: inline-block;
  a {
    display: block;
    color: white;
    padding: 20px 40px;
    transition: 0.4s ease-in-out;
    &:hover {
      background: white;
      color: black;
    }
    &:after {
      content: none;
    }
  }
}
