extends ./_layout.jade

block title
  title Homepage - Satori

block body
  .travel
    .travel__cover
      #uk.travel__map
    .travel__bg(style='background-image: url(/asset/uk.jpg)')
    h2.travel__title United Kingdom
  .travel
    .travel__cover
      #thailand.travel__map
    .travel__bg(style='background-image: url(/asset/thailand.jpg)')
    h2.travel__title Thailand
  .travel
    .travel__cover
      #india.travel__map
    .travel__bg(style='background-image: url(/asset/india.jpg)')
    h2.travel__title India
  .travel
    .travel__cover
      #japan.travel__map
    .travel__bg(style='background-image: url(/asset/japan.jpg)')
    h2.travel__title Japan
  .travel
    .travel__cover
      #australia.travel__map
    .travel__bg(style='background-image: url(/asset/australia.jpg)')
    h2.travel__title Australia
  .travel
    .travel__cover
      #sweden.travel__map
    .travel__bg(style='background-image: url(/asset/denmark.jpg)')
    h2.travel__title Russia & Scandinavia

