extends ./_layout.jade

block title
  title Homepage - Satori

block body
  .travel
    .travel__cover
      #uk.travel__map
    .travel__bg(style='background-image: url(/asset/uk.jpg)')
    hgroup.travel__title-group
      h2.travel__title United Kingdom
      h3.travel__photo-place @London
  .travel
    .travel__cover
      #thailand.travel__map
    .travel__bg(style='background-image: url(/asset/thailand.jpg)')
    hgroup.travel__title-group
      h2.travel__title Thailand
      h3.travel__photo-place @Phuket
  .travel
    .travel__cover
      #india.travel__map
    .travel__bg(style='background-image: url(/asset/india.jpg)')
    hgroup.travel__title-group
      h2.travel__title India
      h3.travel__photo-place @Hampi
  .travel
    .travel__cover
      #japan.travel__map
    .travel__bg(style='background-image: url(/asset/japan.jpg)')
    hgroup.travel__title-group
      h2.travel__title Japan
      h3.travel__photo-place @Tokyo
  .travel
    .travel__cover
      #australia.travel__map
    .travel__bg(style='background-image: url(/asset/australia.jpg)')
    hgroup.travel__title-group
      h2.travel__title Australia
      h3.travel__photo-place @Sydney
  .travel
    .travel__cover
      #sweden.travel__map
    .travel__bg(style='background-image: url(/asset/denmark.jpg)')
    hgroup.travel__title-group
      h2.travel__title Russia & Scandinavia
      h3.travel__photo-place @Copenhagen
  .travel
    .travel__cover
      #japan-2.travel__map
    .travel__bg(style='background-image: url(/asset/japan_2.jpg)')
    hgroup.travel__title-group
      h2.travel__title Japan
      h3.travel__photo-place @Kyoto
