extends ./_layout.jade

block title
  title Homepage - Satori

block body
  .travel
    .travel__cover
      #japan.travel__map
    .travel__bg(style='background-image: url(/asset/japan.jpg)')
  .travel
    .travel__cover
      #australia.travel__map
    .travel__bg(style='background-image: url(/asset/australia.jpg)')
  .travel
    .travel__cover
      #sweden.travel__map
    .travel__bg(style='background-image: url(/asset/denmark.jpg)')

