.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 60px;
  font-family: 'Open Sans', 'Yumincho', sans-serif;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
