.main {
  margin-top: 56px;
  position: relative;
}

.grid {
  display: inline-block;
  position: relative;
  padding: 20px 0;
  width: calc(100% / 6);
  font-family: 'Open Sans', 'Yumincho', sans-serif;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;

  p {
    margin: 16px 0;
  }
}
