@import '../../styles/_mixins';
@import '../../styles/_keyframe';

.modal {
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  visibility: hidden;
  color: white;
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity, visibility;
  transition-timing-function: linear;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.controll {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  z-index: 6;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  &:hover {
    background: rgba(0, 0, 0, 0.6);
  }
}

.invalid {
  display: none;
}

.close {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.right {
  top: 60px;
  bottom: 80px;
  right: 0;
  width: 100px;
}

.left {
  top: 60px;
  bottom: 80px;
  left: 0;
  width: 100px;
}

.banner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: calc(100% - 80px);
  bg-image();
  vintage();
  transition: 1s background-image linear;
  &.loading:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    animation: loading 1s infinite;
  }
}

.gallery {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.galleryItem {
  bg-image();
  display: inline-block;
  width: 120px;
  height: 80px;
  cursor: pointer;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);

  &.galleryActive,
  &:hover {
    filter: none;
    -webkit-filter: none;
  }
}
